.products {
    margin-top: 15px;
    min-height: 724px;
}

table, td, th {
    border-collapse: collapse;
    border-bottom: 1px solid rgb(242, 238, 238);
}

.product_table td {
    width: 420px;
    height: 68px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 0 24px 0 24px;
}

.product_table th {
    font-size: 16px;
    font-weight: 600;
}

tr:first-child {
    max-height: 44px;
    color: rgb(81, 74, 74);
    font-size: 13px;
    font-weight: 600;
    background: rgb(247, 244, 244);
    border: none;
}

.product_table {
    width: 100%;
}
.header_row{
    background-color: rgb(247, 244, 244);
}
.icon {
    width: 32px;
    height: 32px;
    padding-top: 4px;
    padding-left: 4px;
    border: 1px solid rgb(242, 238, 238);
    border-radius: 6px;
    cursor: pointer;
}
